<html>
  <head></head>

  <body></body>

  {% comment %}
    This is the section that contains the discounts.
    It is used to apply discounts to the cart.
  {% endcomment %}
   
  {% section 'discounts' %}
</html>
